@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  background: aliceblue;
}
/* sectionn header style starts */

.section_box {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;

  /* background-image: linear-gradient(
          to left top,
          #051329,
          #5d8385,
          #2fbecb,
          #2fbecb,
          #24b6c4,
          #24b6c4,
          #6aa0d9,
          #8ec4b2
        ); */
  /* background-image: url(images/bg.svg); */
  /* background-image: url("https://c.neh.tw/thumb/f/720/comrawpixel583755.jpg"); */
  background-image: url("https://lesencres.com/wp-content/uploads/2018/10/teal-watercolor-background-texture.jpg");
  /* background-image: url("images/anime_bg_image.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section_box_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: rgba(229, 230, 230, 0.993);
  /* background-image: linear-gradient(
          to right,
          #a3b5d8,
          #eff3f3,
          #a9cdeb,
          #68a1d9,
          #64a3d7,
          #62a4d7,
          #4eb1d0,
          #39bacd,
          #3cb9cd,
          #3fb8ce,
          #37b5c1,
          #42a7b1
        ); */
  background-color: #fff;
  box-shadow: 2px -5px 14px 7px rgb(59 58 58 / 91%);
  /* background-color: rgba(230, 24, 24, 0.856);
        box-shadow: 0px 10px 10px 10px rgb(59, 58, 58, 0); */
}
.section_box_header .logo {
  position: relative;
  color: #ff5e8e;
  font-size: 2em;
  font-weight: 800;
  display: inline-block;
  text-decoration: none;
  opacity: 0;
  animation: slide_left 0.5s linear forwards;
  animation-delay: 0.2s;
}
/* animation for logo */
@keyframes slide_left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.section_box_header ul {
  position: relative;
  display: flex;
}
.section_box_header ul li {
  list-style: none;
}
.section_box_header ul li a {
  display: inline-block;
  color: #0169b2;
  font-weight: 600;
  font-size: 1.1em;
  margin-left: 10px;
  display: inline-block;
  padding: 8px 18px;
  text-decoration: none;
  user-select: none;
  opacity: 0;
  animation: slide_top 0.5s linear forwards;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes slide_top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.section_box_header ul li a.active,
.section_box_header ul li a:hover {
  background-color: #0169b2;
  color: #fff;
  border-radius: 30px;
}
.section_box_content {
  position: relative;
}
.section_box_content .textBox {
  position: relative;
  max-width: 550px;
}
.section_box_content .textBox h2 {
  color: #0169b2;
  /* color: #fff; */
  font-size: 3.5em;
  margin-bottom: 10px;
  line-height: 1.2em;
  font-weight: 700;
  opacity: 0;
  animation: slide_right 0.5s linear forwards;
  animation-delay: 1.5s;
}
/* animation for logo */
@keyframes slide_right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.section_box_content .textBox p {
  color: #333;
  font-size: 1.2em;
  opacity: 0;
  animation: slide_left 0.5s linear forwards;
  animation-delay: 1.75s;
}
.section_box_content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #ff5e8e;
  color: #fff;
  font-size: 1.2em;
  border-radius: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  opacity: 0;
  animation: slide_top 0.5s linear forwards;
  animation-delay: 2s;
}
.section_box_sci {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_box_sci li {
  list-style-type: none;
}
.section_box_sci li a {
  position: relative;
  display: flex;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background-color: #0169b2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  opacity: 0;
  animation: slide_right 0.5s linear forwards;
  animation-delay: calc(0.2s * var(--i));
}
.section_box_sci li a img {
  filter: invert(1);
  transform: scale(0.5);
}
.section_box_sci li a:hover {
  background-color: #ff5e8e;
  transform: translateY(-20px);
  box-shadow: 0 0 5px #185fe2, 0 0 10px #030303;
}
.mosque {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 700px;
  opacity: 0;
  animation: fade_in 1s linear forwards;
  animation-delay: 3.5s;
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* now make it as responsive */
@media (max-width: 1366px) {
  .mosque {
    max-width: 600px;
  }
}
@media (max-width: 991px) {
  .section_box {
    padding: 150px 20px;
  }
  .section_box_header {
    padding: 20px;
  }
  .section_box_header .navigation {
    display: none;
  }

  .section_box_header .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background-color: #2e2e2ee6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section_box_header ul li {
    margin: 10px 0px;
  }
  .section_box_header ul li a {
    margin-left: 0;
    font-size: 1.5em;
    color: #fff;
  }
  .navbar_toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #0169b2 url("images/menu.png");
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 3px;
    z-index: 1000;
  }
  .navbar_toggle.active {
    background: #0169b2 url("images/close.png");
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .mosque {
    max-width: 400px;
  }
  .section_box_content .textBox h2 {
    font-size: 2.1em;
  }
  .section_box_content .textBox p {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .mosque {
    opacity: 0.6 !important;
    max-width: 300px;
  }
  .section_box_content .textBox a {
    padding: 10px 30px;
  }
}
@media (max-width: 400px) {
  .mosque {
    max-width: 246px;
    right: 30px;
  }
}
/* sectionn header style Ends */
.form {
  background-image: url("https://wallpapercave.com/wp/wp5961234.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  height: 400px;
  margin: 0px 0px;
  position: relative;
  padding: 55px 0px 0px 0px;
  background-blend-mode: color-burn;
}

/* navbar  style*/
nav {
  background: rgb(20 21 20 / 26%);
  box-shadow: 0 15px 35px rgb(0 0 0 / 5%);
  width: 100%;
  height: 70px;
  padding: 0px 20px;
}

/* navbar title style */
nav .title {
  line-height: 70px;
  color: rgb(243, 243, 235);
  font-size: 50px;
  margin-left: 50px;
  font-family: "Tangerine", cursive;
}
.logo1 {
  position: absolute;
  top: -28px;
  width: 130px;
  height: 130px;
}
.search_text {
  padding: 30px 0px 30px 0px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_text .title {
  text-align: center;
}

.search_text .titleText {
  font-size: 2em;
  font-weight: 800;
  color: rgb(25, 116, 201);
}

.search_text .titleText span {
  position: relative;
  color: #ff0157;
  font-size: 1.5em;
  font-weight: 700;
}
.copyright_name {
  color: #ff5e8e;
}
@media (max-width: 500px) {
  .search_text .titleText {
    font-size: 1.7em;
  }
}
/* conatiner style */
.conatiner {
  position: relative;
  max-width: 1200px;
  margin: 60px auto;
  padding: 30px;
  background-color: #ffffff40;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(45, 46, 46, 0.638);
}

/* conatiner form input style */
.conatiner form input {
  padding: 10px 10px 10px 20px;
  width: 80%;
  outline: none;
  font-size: 18px;
  color: rgba(13, 131, 115, 0.992);
  border: 2px solid #1111;
  border-radius: 10px;
  background: #ffffffdb;
  text-transform: capitalize;
}

/* conatiner form input hover style */
.conatiner form input:hover {
  box-shadow: 0px 0px 10px 6px rgba(11, 234, 204, 0.638);
}

/* image-container style */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* image-container image style */
.image-container .image {
  height: 250px;
  width: 350px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
}

/* image-container image  img style */
.image-container .image img {
  height: 250px;
  width: 250px;
  /*object-fit: cover; */
  transition: 0.7s linear;
  border-radius: 8px;
}

/* image-container image:hover img style */
.image-container .image:hover img {
  transform: scale(1.1);
}

/* card  style starts here */
.card {
  background-color: rgb(254, 254, 254);
  width: 350px;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 6px rgb(17 27 26 / 22%);
  padding-top: 40px;
}
.card:hover {
  transform: scale(1.04);
  /* box-shadow: 0px 0px 10px 6px rgba(17, 27, 26, 0.638); */
}

.card .content h2 {
  font-size: 17px;
  color: rgb(254 95 141);
}

.card .content {
  padding: 20px 20px 20px 50px;
  height: 210px;
}

.card .content p {
  margin-top: 6px;
}

.card .content p strong {
  /* color: #0f8f4dcc; */
  color: #0369b2;
}

/* card  style Ends here */

/* button styles */
button {
  padding: 10px 30px;
  border: none;
  font-size: 20px;
  background: #f23a0ec7;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
  transition: 0.8s;
}

button:hover {
  background-color: #6bb662ba;
  border: 1px solid #69a365;
  color: black;
}

.fa-star {
  color: #f1dc2a;
  font-size: 18px;
}

/* loader styles */
.main {
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;
}
/*========= loader1 Starts======== */
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 253, 253);
}
.loader img {
  width: 320px;
}
@media (max-width: 425px) {
  .loader img {
    width: 280px;
  }
}
/*========= loader1 Ends======== */
/* loader styles Ends */

/*  media  style*/
@media screen and (max-width: 1200px) {
  .conatiner {
    margin: 90px 30px 30px 30px;
  }
}

@media screen and (max-width: 844px) {
  .conatiner form input {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    .conatiner {
      margin: 90px 10px 10px 10px;
      padding: 10px;
    }
    .logo1 {
      width: 100px;
      height: 100px;
      top: -15px;
    }
    .card {
      width: 300px;
      padding-top: 20px;
    }
    .image-container .image {
      height: 250px;
      width: 300px;
    }
    .card .content {
      height: 230px;
      padding: 10px 10px 10px 20px;
    }
  }

  button {
    padding: 10px 30px;
    display: block;
    margin: 20px 0px 0px 0px;
    width: 100%;
    border-radius: 10px;
    margin-left: 0px;
  }
}
/* anime gallery style starts here */
.container-for-image {
  position: relative;
  /* min-height: 100vh;
        background-color: #ddd; */
}

.container-for-image h1 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  padding: 15px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}

.container-for-image .image-conatiner {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.container-for-image .image-conatiner .image {
  height: 250px;
  width: 350px;
  border: 10px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.container-for-image .image-conatiner .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.7s linear;
}

.container-for-image .image-conatiner .image:hover img {
  transform: scale(1.1);
}

.container-for-image .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(37, 28, 28, 0.9);
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: none;
}

.container-for-image .popup-image span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.container-for-image .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container-for-image .popup-image img {
    width: 90%;
  }
}
.text-image {
  position: absolute;
  width: 40px;
  background-color: rgba(16, 17, 17, 0.498);
  top: 2;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 6px;
}

.text-image span {
  font-size: 20px;
  color: #fff;
}

.text-image span .fa-eye {
  padding-top: 5px;
  color: #fff;
}

.anime_name {
  position: absolute;
  width: 100%;
  background-color: rgba(16, 17, 17, 0.498);
  bottom: 0;
  padding: 10px;
}
.anime_name span {
  font-size: 20px;
  color: rgb(245, 245, 248);
}
/* anime gallery style ends here */
/* footer styles starts */
/* footer style starts */
footer {
  position: relative;
  width: 100%;
  padding: 50px 100px;
  height: auto;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .container .sec {
  margin-right: 30px;
}
footer .container .sec.aboutus {
  width: 40%;
}
footer .container h2 {
  color: #fff;
  margin-bottom: 15px;
  position: relative;
  font-weight: 500;
}
footer .container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #ff5e8e;
}
footer p {
  color: #999;
}
.sci {
  margin-top: 20px;
  display: flex;
}
.sci li {
  list-style-type: none;
}
.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 0 5px #fe608d, 0 0 10px #fe5f8d;
}
.sci li a:hover {
  background-color: #ff5e8e;
}
.sci li a .fa {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.quickLinks {
  position: relative;
  width: 25%;
}
.quickLinks ul li {
  list-style-type: none;
}
.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}
.quickLinks ul li a:hover {
  color: #ff5e8e;
}
.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}
.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contact .info li span {
  color: #999;
}
.contact .info li a {
  color: #999;
  text-decoration: none;
}
.contact .info li :hover {
  color: #fff;
}
.copyrightText {
  width: 100%;
  background-color: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}
@media (max-width: 991px) {
  footer {
    padding: 40px 40px 10px 40px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }
  .copyrightText {
    padding: 8px 30px;
  }
}
/* footer style ends */
